body {
  background:blueviolet;
}

.App {
  align-items: center;
  background:paleturquoise;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  padding:8px;
  width:80%;
}

.crud-forms {
  display:flex;
}
